body {
    font-family: Arial, sans-serif;
    background-color: #745eb6aa;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #503c77b0;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.note {
    padding: 10px;
    background-color: #fff;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editing {
    background-color: #ffc107;
}

.active {
    border: 2px solid #007bff;
}

.note button {
    margin-left: 10px;
}
